<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Кабинет (<a href="https://detail-builder.auth.eu-west-1.amazoncognito.com/login?response_type=token&client_id=65dnhn25nj6oq8ii1jkiiv8pcd&redirect_uri=https://d1f57b3x5hwhff.cloudfront.net">Логин</a>)
  </h2>
</div>

<div style="text-align: center" class="m-4" *ngIf="idToken">
  <button type="button" class="btn btn-outline-success ml-2" (click)="exportData()">Экспорт в облако</button>
  <button type="button" class="btn btn-outline-success ml-2" (click)="importData()">Импорт из облака</button>
  <button *ngIf="insecure" type="button" class="btn btn-danger float-right" (click)="cleanupData()">Очистить кэш</button>
</div>

<div class="m-4" *ngIf="alerts.length > 0">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
</div>

<div class="m-4">
  <ngb-tabset #t="ngbTabset">
    <ngb-tab>
      <ng-template ngbTabTitle><b>Изделия</b></ng-template>
      <ng-template ngbTabContent>

        <div class="mt-2 mb-2">
          <div class="clearfix">
            <div class="float-left">
              <input type="text" class="form-control" placeholder="Фильтр" [(ngModel)]="productSearch" />
            </div>
            <button type="button" class="btn btn-outline-success float-right" (click)="newProductDialog(contentNewProduct)">Новое изделие</button>
          </div>
        </div>

        <ngb-accordion #acc="ngbAccordion">  <!-- activeIds="ngb-panel-0"-->
          <ngb-panel *ngFor="let product of products | searchProd:'id,name':productSearch" title="{{product.name + ' [' + productProgress(product) + '%]'}}">
            <ng-template ngbPanelContent>
                <div>
                  <button type="button" class="btn btn-outline-success mr-2" (click)="newDetailDialog(product, content)">Новая деталь</button>
                  <button type="button" class="btn btn-danger float-right" (click)="deleteProduct(product)">Удалить изделие</button>
                </div>
<!--                <ngb-tabset type="pills">-->
<!--                  <ngb-tab title="Документация по изделию">-->
<!--                    <ng-template ngbTabContent>-->
<!--                      <p>Ссылки на документацию</p>-->
<!--                    </ng-template>-->
<!--                  </ngb-tab>-->
<!--                  <ngb-tab>-->
<!--                    <ng-template ngbTabTitle>Описание</ng-template>-->
<!--                    <ng-template ngbTabContent>-->
<!--                      <p>Краткое описание</p>-->
<!--                    </ng-template>-->
<!--                  </ngb-tab>-->
<!--                  <ngb-tab>-->
<!--                    <ng-template ngbTabTitle>Сроки</ng-template>-->
<!--                    <ng-template ngbTabContent>-->
<!--                      <p>Информация по срокам</p>-->
<!--                    </ng-template>-->
<!--                  </ngb-tab>-->
<!--                </ngb-tabset>-->
                <div class="mt-2">
                  <p *ngFor="let detailId of product.detailIds">
                    <label class="pointer font-weight-bold" (click)="changeActiveDetail(details.get(detailId)); t.select('tab-detail-status')">Деталь: {{details.get(detailId).name}} Тип: {{details.get(detailId).type}}</label>
                    <ngb-progressbar [showValue]="true" type="success" height="20px" [value]="detailProgress(details.get(detailId))"></ngb-progressbar>
                  </p>
                </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><b>Детали в процессе</b></ng-template>
      <ng-template ngbTabContent>

          <div class="mt-2 mb-2">
            <div class="clearfix">
              <div class="float-left">
                <input type="text" class="form-control" placeholder="Фильтр" [(ngModel)]="detailSearch" />
              </div>
            </div>
<!--            <div class="clearfix">-->
<!--              <div class="float-left">-->
<!--                <span class="mr-4"><b>Фильтр:</b></span>-->
<!--                <div class="btn-group btn-group-toggle">-->
<!--                  <label *ngFor="let detailType of detailTypes" class="btn-primary" ngbButtonLabel>-->
<!--                    <input type="checkbox" ngbButton> {{detailType}}-->
<!--                  </label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>

        <div class="m-1">
          <table class="table table-striped">
            <thead>
            <tr>
<!--              <th scope="col">#</th>-->
              <th scope="col">Название</th>
              <th scope="col">Тип</th>
              <th scope="col">Статус</th>
              <th scope="col">Создана</th>
              <th scope="col">Изменена</th>
              <th scope="col">Примечание</th>
              <th scope="col">Текущее место</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detail of pagedDetails | enrich | searchDet:'id,name,currentLocation':detailSearch" class="pointer" (click)="changeActiveDetail(detail); t.select('tab-detail-status')">
<!--              <th scope="row">{{ detail.id }}</th>-->
              <td>{{ detail.name }}</td>
              <td>{{ detail.type }}</td>
              <td>{{ generateStatus(detail) }}</td>
              <td>{{ detail.created | date:'dd.MM HH:mm' }}</td>
              <td>{{ detail.updated | date:'dd.MM HH:mm' }}</td>
              <td>{{ detail.addition }}</td>
              <td><span *ngIf="detail.state.elements[detail.state.progress]">{{ detail.currentLocation }}</span></td>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="detailsSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
<!--            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">-->
<!--              <option [ngValue]="2">2 items per page</option>-->
<!--              <option [ngValue]="4">4 items per page</option>-->
<!--              <option [ngValue]="6">6 items per page</option>-->
<!--            </select>-->
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-detail-status">
      <ng-template ngbTabTitle><b>Статус детали</b></ng-template>
      <ng-template ngbTabContent>
        <div class="m-1">

          <div class="col mt-4">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Выбор детали</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let detail of allDetails" (click)="changeActiveDetail(detail)" ngbDropdownItem>{{detail.name}}</button>
              </div>
            </div>
            <button type="button" class="btn btn-danger float-right" (click)="deleteActiveDetail()" *ngIf="activeDetail">Удалить деталь</button>
          </div>

          <div class="col mt-2" *ngIf="activeDetail" >
            <h2>{{activeDetail.name}}</h2>
            <p><ngb-progressbar [showValue]="true" type="info" [value]="detailProgress(activeDetail)"></ngb-progressbar></p>
            <p><b>Тип</b>: {{activeDetail.type}}</p>
            <div>
              <label for="detail-addition" class="d-block font-weight-bold">Примечание:</label>
              <div id="detail-addition">{{activeDetail.addition}}</div>
<!--              <textarea class="form-control rounded-0" rows="4" id="detail-addition" [(ngModel)]="activeDetail.addition"></textarea>-->
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th *ngFor="let element of activeDetail.state.elements" scope="col">
                  <div>{{ element.name }} <span *ngIf="element.location">[{{ element.location }}]</span></div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td *ngFor="let element of activeDetail.state.elements; index as i">
                  <div *ngIf="element.completedAt">{{ element.completedAt | date:'dd.MM HH:mm:ss' }}</div>
                  <div *ngIf="i < activeDetail.state.progress">Готово</div>
                  <div *ngIf="i == activeDetail.state.progress"><button type="button" (click)="activeDetailStateComplete()" class="btn btn-success">Завершить</button></div>
                  <div *ngIf="i > activeDetail.state.progress" class="disabled">Не доступно</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Документы</b></ng-template>
      <ng-template ngbTabContent>
<!--        <div class="m-1">-->
<!--          <p>Ссылка на документ 1</p>-->
<!--          <p>Ссылка на документ 2</p>-->
<!--        </div>-->
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Шаблон детали</b></ng-template>
      <ng-template ngbTabContent>
        <div class="m-1">

          <div class="col mt-4">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Выбор шаблона детали</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button *ngFor="let template of templates" (click)="changeActiveTemplate(template)" ngbDropdownItem>{{template.name}}</button>
              </div>
            </div>
            <button type="button" class="btn btn-outline-success ml-2" (click)="newTemplateDialog(contentNewTemplate)">Новый шаблон</button>
            <button type="button" class="btn btn-danger float-right" (click)="deleteActiveTemplate()" *ngIf="activeTemplate">Удалить шаблон</button>
          </div>

          <div class="col mt-2" *ngIf="activeTemplate" >
            <h2>{{activeTemplate.name}}</h2>
            <div>
              <textarea class="form-control rounded-0" rows="20" [(ngModel)]="activeTemplateJson"></textarea>
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-success mr-2" (click)="updateActiveTemplate()">Сохранить шаблон</button>
            </div>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Новая деталь</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="newDetailName" name="newDetailName" placeholder="Название" [(ngModel)]="newDetailEntry.name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="newDetailType" name="newDetailType" placeholder="Тип" [(ngModel)]="newDetailEntry.type">
      </div>
      <div class="form-group">
        <textarea class="form-control rounded-0" rows="3" id="newDetailAddition" name="newDetailAddition" placeholder="Дополнение" [(ngModel)]="newDetailEntry.addition"></textarea>
      </div>
      <div class="form-group">
        <input id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="newDetailTemplateSearch" (selectItem)="changeNewDetailTemplate($event.item)" [inputFormatter]="newDetailTemplateFormatter" [resultFormatter]="newDetailTemplateFormatter" placeholder="Выбор шаблона"/>
      </div>
      <div class="col mt-2" *ngIf="newDetailTemplateJson">
        <textarea name="newDetailTemplate" class="form-control rounded-0" rows="10" [(ngModel)]="newDetailTemplateJson"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="newDetailTemplateJson.trim().length == 0" (click)="modal.close()">Создать</button>
  </div>
</ng-template>

<ng-template #contentNewProduct let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Новое изделие</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="newProductName" name="newProductName" placeholder="Название" [(ngModel)]="newProductEntry.name">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Создать</button>
  </div>
</ng-template>

<ng-template #contentNewTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Новый шаблон</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="newTemplateName" name="newTemplateName" placeholder="Название" [(ngModel)]="newTemplate.name">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Создать</button>
  </div>
</ng-template>

<router-outlet></router-outlet>
