/* You can add global styles to this file, and also import other style files */

.pointer:hover {
  cursor: pointer;
  background-color: #b8daff !important;
}

.myCustomModalClass .modal-dialog {
  max-height: 600px;
}

.hover-cursor:hover {
  cursor: pointer;
}
